html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  background-color: #f4f0e5 !important;
  overflow-x: hidden;

}

.general-container {
  display: flex;
  flex-wrap: wrap;
  max-width: 1200px;
  /* Opcional */
  margin: auto;
  /* Centra horizontalmente */
  align-items: center;
  padding: 40px 20px;
  gap: 20px;
  min-height: 100%;
  /* Usar min-height para asegurar que tenga suficiente espacio */
}

/* Texto bien a la izquierda */
.text-container {
  height: 90vh;
  width: 100%;
  flex: 1;
  max-width: 65%;
  padding: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

/* Estilo del texto */
.text-container p {
  font-family: 'Playfair Display', serif;
  font-size: 1.3rem;
  line-height: 1.6;
  margin-bottom: 20px;
  color: #4a3728;
}

/* Imagen ocupa TODO lo que queda */
.ilustracion2 {
  flex: 1;
  display: flex;
  height: 100%;
  margin: 0 auto;
  img{
    max-width: 80%;
  }
}

/* Responsive */
@media (max-width: 768px) {
  .general-container {
    flex-direction: column;
    height: auto;
  }

  .text-container {
    max-width: 100%;
  }

  .ilustracion2 {
    height: auto;
    img{
      max-width: 300px;
    }
  }

  .ilustracion2 img {
    height: auto;
  }
  .pie-foto p {
    font-size: 20px !important;
  }
}

.pie-foto p {
  font-family: 'Playfair Display', serif;
  display: flex;
  justify-content: center;
  /* Horizontal */
  align-items: center;
  /* Vertical */
  /* Toma toda la altura visible */
  text-align: center;
  /* Centra texto si es necesario */
  font-size: 40px;
}

.bold {
  font-weight: 700;
}

.italic {
  font-style: italic;
}

.mapaMundial{
  max-width: 1300px;
  margin: 0 auto;
}

.boton-catalogo-completo {
    display: flex;
    justify-content: center;
    margin: 50px 0;
    padding-top: -20px;
}

.boton-catalogo-completo a {
    display: inline-block;
    padding: 12px 24px;
    background-color: #6B4E31; /* Marrón café, inspirado en los productos como el café */
    color: #FFFFFF; /* Texto blanco para contraste */
    text-decoration: none;
    font-weight: 600;
    font-size: 16px;
    border-radius: 5px;
    transition: background-color 0.3s ease, transform 0.2s ease;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
}

.boton-catalogo-completo a:hover {
    background-color: #8B6F47; /* Tono más claro al pasar el ratón */
    transform: translateY(-2px); /* Efecto de elevación */
}

.boton-catalogo-completo a:active {
    transform: translateY(0); /* Regresa a su posición al hacer clic */
}

/* Responsividad */
@media (max-width: 576px) {
    .boton-catalogo-completo a {
        padding: 10px 20px;
        font-size: 14px;
    }
}