.navbar {
    position: sticky; /* ← Esto hace la magia */
    top: 0; /* ← Se queda pegada al tope */
    z-index: 5;
    background-color: #f4f0e5;
    max-height: fit-content;
}


.navbar a {
    color: black;
    transition: transform 0.3s ease;
}

.navbar a:hover {
    transform: scale(1.05);
}

.navbar-brand img {
    max-height: 50px;
    margin: 15px;
    padding: 5px;
}

@media (max-width: 576px) {
    .navbar {
        padding-top: 0.25rem;
        padding-bottom: 0.25rem;
    }

    .navbar-brand img {
        max-height: 40px;
    }
}

@media (max-width: 812px) {
    .container {
        padding: 5px !important;
    }
}

/* Efecto suave al pasar el mouse */
.navbar-brand img:hover {
    transform: scale(1.05);
}

h5 {
    font-family: 'Playfair Display', serif;
}

a {
    font-family: 'Playfair Display', serif;
}